@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.navigation a {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.navigation a:hover {
  background-color: #45a049;
}

/* Song Composition Workspace Styles */
.song-composition-container {
  text-align: left;
  margin-top: 30px;
}

/* Tutorial and Tips Styles */
.tutorial-container {
  text-align: left;
  margin-top: 30px;
}

/* Interactive Chord/Scale Library Styles */
.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ccc;
}

button.active {
  background-color: #4CAF50;
  color: white;
}

.fretboard-section, .chord-diagram, .scale-diagram, {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-section {
  position: relative; 
}

.search-section input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  box-sizing: border-box; 
  margin: 0;  /* Ensure there's no margin affecting the positioning */
  border: none;  /* Ensure there's no border affecting the width */
}

.search-section button {
  padding: 10px 20px;
  font-size: 16px;
}

.suggestions {
  width: 70%; /* Adjusting for 10px padding on both sides */
  max-height: 150px;
  overflow-y: auto;
  position: absolute; 
  top: 100%; 
  left: 10%;  
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.suggestions div {
  width: 100%;  /* Subtracting the padding from both sides */
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  box-sizing: border-box;  /* This will ensure padding doesn't add to the total width */
}

.suggestions div:last-child {
  border-bottom: none; 
}

.suggestions div:hover {
  background-color: #f6f6f6; 
}

