@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.navigation a {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.navigation a:hover {
  background-color: #45a049;
}

/* Song Composition Workspace Styles */
.song-composition-container {
  text-align: left;
  margin-top: 30px;
}

/* Tutorial and Tips Styles */
.tutorial-container {
  text-align: left;
  margin-top: 30px;
}

/* Interactive Chord/Scale Library Styles */
.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ccc;
}

button.active {
  background-color: #4CAF50;
  color: white;
}

.details-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-section canvas {
  margin: 5px;
}

.fretboard-section canvas {
  width: 100%;
  min-width: 1000px;
}

.fretboard-section {
  overflow-x: auto;
}

.fretboard-section, .chord-diagram, .scale-diagram, .details-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-section {
  position: relative; 
}

.search-section input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  box-sizing: border-box; 
  margin: 0;  /* Ensure there's no margin affecting the positioning */
  border: none;  /* Ensure there's no border affecting the width */
}

.search-section button {
  padding: 10px 20px;
  font-size: 16px;
}

#searchBtn:active {
  background-color: #3A8D40; /* A darker shade of green for visual feedback */
  color: white;
  transform: scale(0.95); /* Slightly reduces the size of the button when pressed */
}

.suggestions {
  width: 70%; /* Adjusting for 10px padding on both sides */
  max-height: 150px;
  overflow-y: auto;
  position: absolute; 
  top: 100%; 
  left: 10%;  
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.suggestions div {
  width: 100%;  /* Subtracting the padding from both sides */
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  box-sizing: border-box;  /* This will ensure padding doesn't add to the total width */
}

.suggestions div:last-child {
  border-bottom: none; 
}

.suggestions div:hover {
  background-color: #f6f6f6; 
}

/* Library selector */
:root {
  --main-bg-color: #f0f0f0;
  --selector-bg-color: #fcf3f3;
  --key-bg-color: #f50c0c;
  --key-hover-bg-color: rgb(243, 89, 78);
  --type-bg-color: #3A8D40;
  --type-hover-bg-color: #48b14f;
  --label-bg-color: #ffffff;
  --label-text-color: #2c3e50;
  --fretboard-color: #8B4513;
  --fret-color: #A9A9A9;
  --string-color: #000000;
  --marking-color: #2ecc71;
  --key-active-bg-color: #100cf5;
}

body {
  background-color: var(--main-bg-color);
  color: var(--label-text-color);
  font-family: 'Arial', sans-serif;
}

.scale-container {
  background-color: var(--selector-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2rem;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.circle-center-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 10;
  font-weight: bold;
}

.circle-key {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--key-bg-color);
  color: white;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* Positions for keys in the cycle of fifths */
.circle-key[data-key="C"] { transform: rotate(0deg) translate(140px) rotate(0deg); }
.circle-key[data-key="G"] { transform: rotate(30deg) translate(140px) rotate(-30deg); }
.circle-key[data-key="D"] { transform: rotate(60deg) translate(140px) rotate(-60deg); }
.circle-key[data-key="A"] { transform: rotate(90deg) translate(140px) rotate(-90deg); }
.circle-key[data-key="E"] { transform: rotate(120deg) translate(140px) rotate(-120deg); }
.circle-key[data-key="B"] { transform: rotate(150deg) translate(140px) rotate(-150deg); }
.circle-key[data-key="F#"] { transform: rotate(180deg) translate(140px) rotate(-180deg); }
.circle-key[data-key="C#"] { transform: rotate(210deg) translate(140px) rotate(-210deg); }
.circle-key[data-key="G#"] { transform: rotate(240deg) translate(140px) rotate(-240deg); }
.circle-key[data-key="Eb"] { transform: rotate(270deg) translate(140px) rotate(-270deg); }
.circle-key[data-key="Bb"] { transform: rotate(300deg) translate(140px) rotate(-300deg); }
.circle-key[data-key="F"] { transform: rotate(330deg) translate(140px) rotate(-330deg); }

.circle-key:hover {
  background-color: var(--key-hover-bg-color);
}

.circle-key.active {
  background-color: var(--key-active-bg-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
  margin-top: 40px; /* Space for label */
}

.grid-item {
  background-color: var(--type-bg-color);
  color: white;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.grid-item:hover {
  background-color: var(--type-hover-bg-color);
}

.grid-item.active {
  background-color: var(--key-active-bg-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .music-selector {
    flex-direction: column;
    align-items: center;
  }

  .circle-container {
    margin-right: 0;
    margin-bottom: 20px; /* Adjust space between circle and grid on smaller screens */
  }

  .grid-container {
     /* Define two columns, each taking up half of the grid container width */
     grid-template-columns: repeat(2, 1fr);
     gap: 10px; /* Adjust the gap between grid items as needed */
     width: auto;
     box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .grid-item {
    width: 100%;
    box-sizing: border-box;
  }

  .grid-label {
    position: static;
    transform: none;
    margin-bottom: 10px; /* Add space between label and grid items */
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .circle-container {
    width: 80vw;
    margin-bottom: 20px;
  }

  .circle-key {
    width: 30px;
    height: 30px;
  }
}
